[Unit]
Description=PowerMaster+
After=network.target

[Service]
Type=forking
ExecStart=/opt/pmasterp/data/pmasterpd start
ExecStop=/opt/pmasterp/data/pmasterpd stop
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
